body 
    margin: 0
    padding: 0
    background-color: whitesmoke


.container 
    width: 85%
    height: 100vh
    margin: auto
    margin-top: 20px 
    display: grid
    grid-template-columns: 1fr 1fr

//Left container of form

.sub-container-left 
    background-color: black
    display: flex
    justify-content: center
    align-items: center

.contact-container
    width: 65%
    display: grid
    grid-template-columns: .2fr 1fr
    color: white

.icon-text-container 
    margin-top: 20px

.heading
    font-size: 20px

.icon 
    font-size: 18px

.contact-info 
    color: limegreen

//Right box container of form

.sub-container-right 
    background-color: white
